h1 {
    padding-top: 30px;
    font-size: 72px;
}

h2 {
    font-size: 46px;
}

.landing-buttons {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bottom {
    margin-bottom: 100px;
}

.card-container {
    margin-top: 50px;
}

.fa {
    font-size: 66px;
    padding-top: 50px;
    color: #3f51b5;
}

.card {
    min-height: 325px;
    margin-bottom: 20px;
}

.detail {
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
}

.detail a {
    color: #3f51b5;
    text-decoration: underline;
}

.detail a:hover {
    text-decoration: none;
    color: black;
}


@media screen and (max-width: 767px) {
    .if-mobile {
        display: none;
    }
}
