<div class="container about">
    <div class="row">
      <div class="col-sm">
        <h1><i class="fa fa-bookmark" aria-hidden="true"></i> About Musicoll</h1>
        <hr>
        <p>Musicoll is a web app that caters to musicians to quickly prototype musical ideas, lyrics, and notes. It is not meant to replace traditional means of recording, but rather be a place to quickly ‘jot’ down ideas and store them in a central place. </p>
        <p>Many times I have had a cool riff or rhythm I’ve come up with and do not want to take the time to setup my computer, recording software and mic. I often found myself trying to quickly get my ideas stored somewhere by using my phone’s voice recorder, but this would lack any sort of structure or organization. Furthermore, I longed for a system that also allowed me to write down lyrics and notes to accompany the musical ideas.</p>

        <h1>F.A.Q.</h1>
        <hr>
        <b>Is Musicoll meant to replace traditional ways of recording?</b>
        <p>No, because of limitations with browser technology, we cannot yet reach professional levels of audio recording. Musicoll is directed towards allowing users to quickly and easily record ideas and store them in a central place. </p>
        <b>Can I upload recordings instead of recording in the browser?</b>
        <p>This feature is coming soon.</p>
        <b>What if I have feedback or find a bug?</b>
        <p>Please email me musicollapp@gmail.com</p>
      </div>
    </div>
</div>